<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Shoes Store</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body>
    <nav class="navbar-container" id="navbar">
        <div class="container-fluid">
            <h1>Shoes Store</h1>
            <div class="navbar-view" id="navbarSupportedContent">
                <button class="primerboton" onclick="changeIframeSrc('Clientes.html')">
                    <i class="fas fa-users"></i>
                    <span>Clientes</span>
                </button>
                <button class="segundobotton" onclick="changeIframeSrc('agregarClientes.html')">
                    <i class="fas fa-users"></i>
                    <span>agregar</span>
                </button>
                <button class="primerboton" onclick="changeIframeSrc('Productos.html')">
                    <i class="fas fa-box-open"></i>
                    <span>Productos</span>
                </button>
                <button class="segundobotton" onclick="changeIframeSrc('agregarProductos.html')">
                    <i class="fas fa-box-open"></i>
                    <span>agregar</span>
                </button>
                <button class="primerboton" onclick="changeIframeSrc('Ventas.html')">
                    <i class="fas fa-handshake"></i>
                    <span>Ventas</span>
                </button>
                <button class="segundobotton" onclick="changeIframeSrc('agregarVentas.html')">
                    <i class="fas fa-handshake"></i>
                    <span>agregar</span>
                </button>
            </div>
        </div>
    </nav>

    <div id="iframeContainer" class="iframeContainer">
        <iframe id="contentFrame" class="iframe" name="center" src="Clientes.html">
            Tu navegador no soporta iframes.
        </iframe>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="application/javascript" src="/js/navbar.js"></script>
</body>


</html>