<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    <link rel="stylesheet" href="../css/tablas.css">
</head>

<body>
    <input type="hidden" id="id">
    <input type="hidden" id="estado">

    <div class="container">
        <h2>productos</h2>


        <div class="filtros">
            <div class="filtro">
                <label>Filtrar por Cliente</label>
                <input type="text">
            </div>

            <div class="filtro">
                <label>Fecha de Venta - Desde</label>
                <input type="date">
            </div>
            <div class="filtro">
                <label>Fecha de Venta - Hasta</label>
                <input type="date">
            </div>
            <div class="botonesfiltro">
                <button class="agregar-filtros">filtrar</button>
                <!-- <button class="limpiar-filtros">Limpiar filtros</button> -->
            </div>
        </div>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>ID Venta</th>
                    <th>ID Cliente</th>
                    <th>Total</th>
                    <th>Fecha de Venta</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="resultData">
            </tbody>
        </table>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="application/javascript" src="/js/ventas.js"></script>

    <script>
        loadData();
    </script>
</body>

</html>